{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": [
      "tsconfig.json"
    ],
    "extraFileExtensions": [
      ".vue"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": false
      }
    ],
    "no-undef": "off",
    "vue/valid-template-root": "off",
    "vue/require-default-prop": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-component-is": "off"
  }
}